/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override Tailwind's default body styles if necessary */
body {
  font-family: "EB Garamond", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Define custom CSS variables if needed */
:root {
  --font-default: "EB Garamond", system-ui, sans-serif;
  --font-primary: "EB Garamond", serif;
  --font-secondary: "Inter", sans-serif;

  --color-primary: #212529;
  --color-secondary: #596d80;
  --color-accent: #6f42c1;
}

/* Use these variables in global or specific components */
h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

/* Example of using global utility styles */
.custom-heading {
  font-size: 2rem;
  font-weight: bold;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
